#wikiSearchWrapper{
    min-width: 300px;
    width: 25%;
    max-height: 100vh;

    position: fixed;
    bottom: 0;
    right: 0;

    border-top: 1px solid rgb(200, 200, 200);
    border-left: 1px solid rgb(200, 200, 200);
    background-color: white;

    z-index: 9999;

    font-family: Roboto, sans-serif;
    text-align: left;
    line-height: 120%;
}

/* SEARCH */
#searchForm{
    width: 90%; 
    height: auto;
    background-color: white;
    float: left;
    font-family: Roboto, sans-serif;
}
#searchForm form, #searchForm input{
    width: 100%;
    height: 30px;
}

#searchForm input{
    margin: 0;
    padding: 0.5vh;
    border: none;
    border-bottom: 1px solid rgb(200, 200, 200);
    color: #ccc;
    background-color: white;
    font-size: 1em;
    font-family: Roboto, sans-serif;
}
#searchForm input::placeholder{
    color: #ccc;
}
#submitSearch{
    display: none;
}

#clearSearch {
    width: 10%;
    height: 30px;
    float: left;
    font-family: Roboto, sans-serif;
    font-size: 1em;
    color: black;
    background-color: white;
    border: none;
    border-bottom: 1px solid rgb(200, 200, 200);
    border-radius: 0;
    box-shadow: none;
    padding: 0;
    margin: 0;
}

/* RESULTS */
#resultWrapper{
    width: 100%;
    max-height: 100vh;
    overflow: scroll;
    box-sizing: border-box;
}

#resultWrapper::-webkit-scrollbar{
    display: none;
}

#resultWrapper a{
    font-family: Roboto, sans-serif;
    font-weight: 600;
    font-size: 1.18em;
    line-height: 130%;
    text-align: left;
    color: black;
    padding: 0;
}

#resultWrapper a:hover{
    color: grey;
}

/*Checkbox save article*/
.saveArticle{
    width:30px;
    height:30px;
    background-color: #ccc;
    padding: 0;
    margin: 0;
    margin-bottom: 2%;
    border-radius: 2px;
    font-size: 1em;
    box-shadow: none;
    border: none;
}

button.saveArticle:hover {
    background-color: #999;
}

.resultSnippet {
    font-family: Roboto, sans-serif;
    font-size: 0.9em;
    text-align: left;
}

#searchResults{
    margin: 2vh;
    word-wrap: break-word;
}

#resultWrapper .resultLink {
    font-size: .75em;
    font-weight: 400;
    line-height: 120%;
    color: #000fe6;
}

.resultLink:hover{
    color: grey;
}
.errorMessage{
    color: red;
}



